*, html {
    margin: 0; /* Mengatur ruang di sekitar elemen */
    padding: 0; /* Ruang kosong */
    font-family: 'Arial';
}

body {
    background-color: #ffedd6;
}

/* Container Utama */
.container {
    max-width: 900px;
    margin: 40px auto; 
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.container-navbar {
    background-color: #ff6b6b;
    width: 100%;
    padding: 15px 0;
    border-radius: 12px 12px 0 0;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.li-navbar {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s, border-radius 0.3s;
}

.li-navbar:hover {
    background-color: #ffa6a6;
    border-radius: 8px;
}

.a-navbar {
    color: #ffffff;
    text-decoration: none;
}

.container-content {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-content ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.container-content li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}

h1 {
    color: #222;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

h2, h3 {
    color: #444;
    margin-top: 25px;
}

p {
    line-height: 2;
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

/* Gaya untuk gambar */
.img-content {
    display: block;
    max-width: 100%;
    height: auto;
    width: 70%; /* Menyesuaikan ukuran gambar agar lebih proporsional */
    margin: 20px auto;
    border-radius: 8px;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ff6b6b;
    border-radius: 0 0 12px 12px;
    margin-top: 40px;
    text-align: center;
}
